{% extends "layout.html" %}
{% block body %}
    <main>

        <section class="computerEngineering">

            <h3 class="comps-heading text-center p-5 fw-bold">Trending Career Option's in - Computer Enginnering </h3>

            <div class="container">
                <div class="accordion w-75 mx-auto mt-5" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button medium-size fw-bold fs-4 fs-6-sm" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                 1. Full Stack Developer
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong class="fs-5">
                                    Full Stack Developers are primarily involved with programming and coding. They
                                    design and create the blueprint for websites by adhering to standard HTML/CSS
                                    practices and according to client specifications and demands. They must also
                                    maintain appropriate software documentation. Since this role focuses on user
                                    experience as well as functionality, Full Stack Developers must be proficient in
                                    both graphic design and computer programming.
                                </strong>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed fs-4 fw-bold" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                2. Big Data Enginner
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong class="fs-5">
                                    Big Data Engineers are responsible for building, testing, and maintaining scalable Big Data ecosystems for the businesses so that the Data Scientists can run their algorithms on stable and optimized data systems. Big Data Engineers usually work closely with Data Architects, Data Analysts, and Data Scientists, all focused on one goal – to help organizations obtain meaningful insights from large and complex datasets that can be transformed into actionable business decisions. Big data is one of the best career options after computer engineering.
                                </strong>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed fs-4 fw-bold" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                3. Machine Learning Engineer
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong class="fs-5">
                                    Machine Learning Engineers are sophisticated ML experts who specialize in designing and building intelligent machines and systems that can learn from experience and perform human-like tasks with minimal or no human supervision. They create advanced ML algorithms that can teach computers how to perform specific tasks without being explicitly programmed for the same. Also, Machine Learning Engineers develop state-of-the-art ML and Deep Learning systems and run various ML tests and experiments to innovate unique AI-powered machines. 
                                </strong>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed fs-4 fw-bold" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                4. Data Scientist
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong class="fs-5">
                                    Data Scientists are the masters of the Data Science domain. They are mainly concerned with creating value from complex data. Data Scientists gather data not only from the company repository but also from multiple external sources (social media, websites, blogs, etc.). They clean, organize and process this data to further analyze it for extracting the hidden patterns within it. This helps them understand how the data at hand can solve the present business challenges an organization. 
                                </strong>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed fs-4 fw-bold" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                5. Data Analyst
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong class="fs-5">
                                    Data Analysts are the link between the two worlds – Data Science and business. While they spend a considerable amount of time in collecting relevant data from disparate sources, Data Analysts must also be able to present their findings in ways that can be understood by all the stakeholders involved in a project. 
                                </strong>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed fs-4 fw-bold" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                6. Blockchain Developer / Engineer
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong class="fs-5">
                                    As the name suggests, Blockchain Developer/Engineers are software experts who specialize in Blockchain technology. Blockchain Developer/Engineers handle and oversee the complete life cycles of Blockchain applications, right from research and analysis to their design and execution. 
                                </strong>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSeven">
                            <button class="accordion-button collapsed fs-4 fw-bold" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                7. Software Developer
                            </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong class="fs-5">
                                    The role of a Software Developer is perfect for those who love coding and programming. Software Developers are always in high demand in the IT/ITES sector. They specialize in multiple programming languages like C, C++, C#, Java, Python, Ruby, Perl, Scala, and more. Software Developers create innovative software programs and applications with unique use cases and functionalities that cater to specific customer needs. Software development is one of the preferred career options after computer engineering. 
                                </strong>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingEight">
                            <button class="accordion-button collapsed fs-4 fw-bold" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                8. Computer Network Architect
                            </button>
                        </h2>
                        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong class="fs-5">
                                    Computer Network Architects are professionals who design, develop, implement, and maintain networking and data communication systems. This includes local area networks, wide area networks, extranets, and intranets. Also, they handle the job of upgrading both software (for example, network drivers) and hardware (like adapters and routers). Generally, Computer Network Architects work with the company’s CTO (Chief Technology Officer) to predict where new networks are needed the most in the organization.  
                                </strong>
                            </div>
                        </div>
                    </div>  
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingNine">
                            <button class="accordion-button collapsed fs-4 fw-bold" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                9. Computer Systems Analyst
                            </button>
                        </h2>
                        <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong class="fs-5">
                                    Computer Systems Analysts is one of the popular career options after computer engineering which focus on studying an organization’s existing computer systems, design information systems, and business workflows to help devise more innovative, efficient, and productive solutions. Since Computer Systems Analysts possess in-depth knowledge of both business and I.T. domains, they help bridge the gap between the business world and information technology (I.T.).  
                                </strong>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTen">
                            <button class="accordion-button collapsed fs-4 fw-bold" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                10. Database Administration
                            </button>
                        </h2>
                        <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong class="fs-5">
                                    The job role of Database Administrators is a pivotal one in the industry since these professionals are primarily focused on the everyday functioning of the company database. They maintain the database, monitor and track the database software purchases, manage database access, implement security measures, and supervise the modifications incorporated in existing software products. 
                                </strong>
                            </div>
                        </div>
                    </div>
                    <br>    
                </div>
            </div>
        </section>
    </main>
    {% endblock %}