{% extends "layout.html" %}
{% block body %}
    <main>

        <section class="computerEngineering">

            <h3 class="comps-heading text-center p-5 fw-bold">Trending Career Option's in - Mechanical Enginnering </h3>

            <div class="container">
                <div class="accordion w-75 mx-auto mt-5" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button medium-size fw-bold fs-4 fs-6-sm" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                1. Automotive engineer
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong class="fs-5">
                                    With a job as an automotive engineer, graduates can design and develop the mechanical components and machines related to cars, trains and other automated vehicles. Their job tasks can include research and development, design and production. Engineers in the automotive industry can be at the forefront of innovative new designs and ideas concerning energy efficiency, speed and comfort.
                                </strong>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed fs-4 fw-bold" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                2. Maintenance engineer
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong class="fs-5">
                                    Maintenance engineers perform diagnostic checks of machines and equipment to ensure their functionality. Maintenance engineers might work in large plants and work to maintain and large machines like heating and cooling systems, production equipment and engines that are capable of continuous operation. They might work as a team or individually to service all the machines within a single plant.
                                </strong>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed fs-4 fw-bold" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                3. Research and development supervisor
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong class="fs-5">
                                    Research and development supervisors oversee processes related to designing new systems. Depending on the industry, this could mean improving current technology, testing customer reactions to prototypes or researching new advances in the field. Mechanical engineers' education usually lends them to more supervisory roles, especially if they possess strong leadership qualities. 
                                </strong>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed fs-4 fw-bold" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                4. Construction engineer
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong class="fs-5">
                                    Construction engineers use their mechanical knowledge on construction projects. They might service and maintain the machines a group is using for a project, advise on the installation of heavy equipment or help devise system optimisation efforts that can aid in the construction project. Some construction companies even hire mechanical engineers as consultants for projects involving commercial building layout and design.
                                </strong>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed fs-4 fw-bold" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                5. Aerospace Engineer
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong class="fs-5">
                                    Mechanical engineers can work alongside aerospace engineers in this field. Here, they help maintain and manufacture aircraft. Mechanical engineers' technical knowledge can help ensure designs are compatible with airport needs and other production aspects. They might also aid in national defence projects like working on missiles or with spacecraft.
                                </strong>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed fs-4 fw-bold" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                6. Control and Instrumentation Engineer
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong class="fs-5">
                                    Also called a C&I engineer, these mechanical engineers design, develop, install, manage and maintain the equipment that monitors and controls other machines and systems. Engineers make sure all these processes are running as efficiently, safely and reliably as possible. They might measure and control process variables like pressure, humidity, pH, flow, speed, temperature and force.
                                </strong>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSeven">
                            <button class="accordion-button collapsed fs-4 fw-bold" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                7. Contracting Civil Engineer
                            </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong class="fs-5">
                                    Contracting civil engineers work to design and consult on various construction and public works projects. They might facilitate the implementation of large scale works like highways, buildings, dams, bridges and canals. Contracting civil engineers often work with other consulting engineers to evaluate ongoing work and projects.
                                </strong>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingEight">
                            <button class="accordion-button collapsed fs-4 fw-bold" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                8. Nuclear Engineer
                            </button>
                        </h2>
                        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong class="fs-5">
                                    A nuclear engineer offers technical support to nuclear power stations. In their role, they may design, build, operate or disassemble machinery used with nuclear power. Specific roles for mechanical engineers in this field include reactor operators, process engineers, quality engineers, C&I engineers and managers. 
                                </strong>
                            </div>
                        </div>
                    </div>  
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingNine">
                            <button class="accordion-button collapsed fs-4 fw-bold" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                9. Mechanical Engineer
                            </button>
                        </h2>
                        <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong class="fs-5">
                                    A mechanical engineer can be a generic job title within many industries, but the general responsibilities of companies hiring for this position include design, development, maintenance and management. A company may hire a mechanical engineer to test or install new machinery. They might ask for them to work in an advisory capacity to consult on structural engineering or machine maintenance questions.
                                </strong>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTen">
                            <button class="accordion-button collapsed fs-4 fw-bold" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                10. Manufacturing engineer
                            </button>
                        </h2>
                        <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong class="fs-5">
                                    Manufacturing engineers use their degrees to aid them in the manufacturing industry. They focus on the operation and design of integrated systems. This can help them and the companies they work for produce high-quality products that are competitive in the marketplace.
                                </strong>
                            </div>
                        </div>
                    </div>
                    <br>    
                </div>
            </div>
        </section>
    </main>
    {% endblock %}