{% extends "layout.html" %}
{% block body %}
<main>

    <section class="computerEngineering">

        <h3 class="comps-heading text-center p-5 fw-bold">Trending Career Option's in - Production Enginnering </h3>

        <div class="container">
            <div class="accordion w-75 mx-auto mt-5" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button medium-size fw-bold fs-4 fs-6-sm" type="button"
                            data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne">
                            1. Production Engineer
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong class="fs-5">
                                Production engineers are responsible for supervising and improving production at plants
                                and factories. They support engineering teams, draw up safety protocols, report issues
                                to the manager, and develop strategies to improve efficiency and profit.
                            </strong>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed fs-4 fw-bold" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            2. Process Engineer
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong class="fs-5">
                                A process engineer is a professional who designs, implements and optimises industrial
                                processes in the manufacturing industry. Process engineering is similar to chemical
                                engineering, but a process engineer focuses more on the mathematical and physical
                                aspects of production.
                            </strong>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed fs-4 fw-bold" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            3. Industrial Managers
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong class="fs-5">
                                Industrial Managers plan how to efficiently and economically use resources in a business
                                including labor, materials, machines, time, capital, energy, and information.
                            </strong>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed fs-4 fw-bold" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            4. Quality Engineers
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong class="fs-5">
                                Quality engineers review established processes in order to find manufacturing and cost optimizations. When problems arise, they conduct root cause investigations and develop and implement corrective or preventative action plans.
                            </strong>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                        <button class="accordion-button collapsed fs-4 fw-bold" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            5. Management Engineer
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong class="fs-5">
                                Usually a multidisciplinary program which builds theoretical and practical knowledge of all engineering fields and engineering mathematics, along with advanced project and personnel management knowledge and skills.
                            </strong>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSix">
                        <button class="accordion-button collapsed fs-4 fw-bold" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            6. Operations Analyst
                        </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong class="fs-5">
                                An Operations Analyst is a professional who solves problems internally and implements goal-oriented strategies in companies. This role also involves managing data, client reporting, and trade processes. As an Operations Analyst, you have to work with the client support services manager and operations team.
                            </strong>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSeven">
                        <button class="accordion-button collapsed fs-4 fw-bold" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            7. Manufacturing Engineer
                        </button>
                    </h2>
                    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong class="fs-5">
                                Manufacturing Engineers focus on the design, development and operation of integrated systems of production to obtain high quality & economically competitive products. These systems may include material handling equipment, machine tools, robots or even computers or networks of computers.
                            </strong>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingEight">
                        <button class="accordion-button collapsed fs-4 fw-bold" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                            8. Architectural and Engineering Managers
                        </button>
                    </h2>
                    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong class="fs-5">
                                Architectural and engineering managers use their knowledge of architecture or engineering to oversee a variety of activities. They may direct and coordinate building activities at construction sites or activities related to production, operations, quality assurance, testing, or maintenance at manufacturing sites.
                            </strong>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingNine">
                        <button class="accordion-button collapsed fs-4 fw-bold" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                            9. Cost Estimators
                        </button>
                    </h2>
                    <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong class="fs-5">
                                A cost estimator collects and analyzes data so as to estimate how much time, money, material, and labour it will take to either provide a service, manufacture a product, or construct a building. Estimators typically specialize in a type of product or a particular industry.
                            </strong>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTen">
                        <button class="accordion-button collapsed fs-4 fw-bold" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                            10. Health and Safety Engineers
                        </button>
                    </h2>
                    <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong class="fs-5">
                                Health and safety engineers combine knowledge of engineering and of health and safety to develop procedures and design systems to protect people from illness and injury and property from damage.
                            </strong>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </section>
</main>
{% endblock %}