{% extends "layout.html" %}
{% block body %}

<main>
    <section class="council-section text-center">
        <h1 class="text-center pt-5 team-heading fw-bold">Teams in CRCE</h1>
        <h3 class="pt-3"><a href="https://www.facebook.com/teamabadha.crce/" class="teams" target="_blank">Team Abadha</a></h3>
        <h3 class="pt-3"><a href="https://vaayushastra.com/" class="teams" target="_blank">Team Vaayushastra</a></h3>
        <h3 class="pt-3"><a href="https://mavericks-7734b.firebaseapp.com/" class="teams" target="_blank">Team Mavericks</a></h3>
        <h3 class="pt-3"><a href="https://www.facebook.com/AVISROTACRCE/" class="teams" target="_blank">Team Avisrota</a></h3>
        <h3 class="pt-3"><a href="https://crceformularacing.com/index.html" class="teams" target="_blank">Team CFR</a></h3>
        <h3 class="pt-3"><a href="https://roboconcrce.org/" class="teams" target="_blank">Team Robocon</a></h3>
        <h3 class="pt-3"><a href="https://projectcellcrce2021.web.app/" class="teams" target="_blank">Team Project Cell</a></h3>
    </section>
</main>

{% endblock %}