{% extends "layout.html" %}
{% block body %}

<main>
    <section class="notes-section">
        <div class="notes-block">
            <div class="col-md-3 col-sm-6">
                <div class="serviceBox">
                    <div class="service-icon">
                        <span><i class="fas fa-robot"></i></span>
                    </div>
                    <a href="/aidsNotes" class="text-decoration-none"><h3 class="title">AIDS</h3></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="serviceBox">
                    <div class="service-icon">
                        <span><i class="fas fa-laptop-code"></i></span>
                    </div>
                    <a href="#" class="text-decoration-none"><h3 class="title">CE</h3></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="serviceBox">
                    <div class="service-icon">
                        <span><i class="fas fa-chart-network"></i></span>
                    </div>
                    <a href="#" class="text-decoration-none"><h3 class="title">ECS</h3></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="serviceBox">
                    <div class="service-icon">
                        <span><i class="fas fa-cogs"></i></span>
                    </div>
                    <a href="#" class="text-decoration-none"><h3 class="title">MECH</h3></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="serviceBox">
                    <div class="service-icon">
                        <span><i class="fas fa-industry-alt"></i></span>
                    </div>
                    <a href="#" class="text-decoration-none"><h3 class="title">PROD</h3></a>
                </div>
            </div>
        </div>
        
        </div>
    </section>
</main>


{% endblock %}